# Ignore Visual Studio temporary files
.vs/
*.vsix
.vscode/
.idea/

# Ignore build output directories
bin/
obj/

# Ignore user-specific files (e.g., configurations)
*.user
*.userosscache
*.suo
*.userprefs

# Ignore bin folder
bin/

# Ignore obj folder
obj/
