.App-nav {
  display: flex;
  justify-content: center; /* Centers the nav items horizontally */
  align-items: center; /* Vertically aligns the nav items */
  position: absolute; /* Absolute positioning so it can be centered */
  left: 50%; /* Position it at the center of the header */
  transform: translateX(-50%); /* Adjust the position to be exactly centered */
  width: 100%; /* Ensures it spans the full width */
}

.App-link {
  color: #000000; /* font colour for nav links */
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  margin: 0 10px; /* Adds spacing between links */
}

.App-link:hover {
  color: #4a4d4f; /* Hover link text to grey*/
  text-decoration: underline;
}

.App-main {
  padding: 20px;
  text-align: center;
  font-size: calc(10px + 2vmin);
}